button {
    font-size: 1.3em;
    background: #3498db;
    color: #fff;
    border: 0.25rem solid #3498db;
    padding: 0.1em 0.25em;
    margin: auto;
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 8em;
    float: left;
}

button:hover {
    color: #3498db;
}

button::after {
    content: "";
    background: #ecf0f1;
    position: absolute;
    z-index: -1;
    padding: 0.85em 0.75em;
    display: block;
}

button[class^="slide"]::after {
    transition: all 0.35s;
}

button[class^="slide"]:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.35s;
}

button[class^="grow"]::after {
    transition: all 0.3s ease;
}

button[class^="grow"]:hover::after {
    transition: all 0.3s ease-out;
}

button.grow_box::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0);
}

button.grow_box:hover::after {
    transform: scale(1, 1);
}