hr.line {
    border: 0;
    border-bottom: 0.0625rem solid #bbb;
    margin: 1rem 0;
}

div.heightcenter {
    max-width: 958px;
    margin-left: auto;
    margin-right: auto;
}

p.topnavlineup {
    padding: 5px;
}